# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.directory
.*so
.*o
.*dll
.*exe
.*c

# dist files
dist/
*.zip
*.tar.gz

MANIFEST

contextualbandits.egg-info/*

build/*
contextualbandits/linreg/*.so
contextualbandits/linreg/*.c
contextualbandits/linreg/*.directory
contextualbandits/*.so
contextualbandits/*.c
contextualbandits/_cy_utils.cpp
contextualbandits/*.directory
example/.ipynb_checkpoints/*
docs/_build/*
