global-include *.pyx
global-include *.pxi
global-exclude *.c
global-exclude *.h
global-exclude *.so
global-exclude *.o
global-exclude *.dll
global-exclude *.dynlib
global-exclude *.directory
include pyproject.toml
include contextualbandits/cy_cpp_helpers.cpp
exclude contextualbandits/_cy_utils.cpp
exclude .gitignore
exclude .gitattributes
exclude example/*
exclude build/*
exclude dist/*
exclude plots/*
exclude docs/*
prune docs/*
